.playlist {
  background-color: rgba(39, 13, 63, 0.221);
  border-radius: 1rem;
  padding: 1rem;
  width: 50%;
}

.saveButton {
  margin-top: 1rem;
  font-weight: bold;
  padding: 0.1em;
  border: 1px solid #0a5e76;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 3px #0e7591;
  background-color: #61dafb;
  
}

.saveButton:hover {
  cursor: pointer;
}

.saveButton:active {
  margin-top: 1.1rem;
  box-shadow: 0 0;
  transition-property: all;
  transition: 0.1s;
}
